<head>
    <title>pisicilii</title>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
</head>
<h1 style="text-align: center;">👋</h1>

<style>
    body {
        background: #f1f1f1;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-left: auto;
        margin-right: 15vh;
        margin-top: 15vh;
        min-height: 50vh;
    }

    .perspective-text {
        color: white;
        font-family: Arial, serif;
        font-size: 58px;
        font-weight: 900;
        letter-spacing: -2px;
        text-transform: uppercase;
    }

    .perspective-line {
        height: 50px;
        overflow: hidden;
        position: relative;
    }

    p {
        margin: 0;
        height: 50px;
        line-height: 50px;
        transition: all 0.5s ease-in-out;
    }

    .perspective-line:nth-child(odd) {
        transform: skew(60deg, -30deg) scaleY(0.667);
    }

    .perspective-line:nth-child(even) {
        transform: skew(0deg, -30deg) scaleY(1.337);
    }

    .perspective-text:hover p {
        transform: translate(0, -50px);
    }

    .perspective-line:nth-child(1) {
        left: 29px;
    }

    .perspective-line:nth-child(2) {
        left: 58px;
        background: #f07e6e;
    }

    .perspective-line:nth-child(3) {
        left: 87px;
        background: #84cdfa;
    }

    .perspective-line:nth-child(4) {
        left: 116px;
        background: #5ad1cd;
    }

    .perspective-line:nth-child(5) {
        left: 145px;
    }
</style>
<div class="wrapper">
    <div class="perspective-text">
        <div class="perspective-line">
            <p></p>
            <p>Soon!</p>
        </div>
        <div class="perspective-line">
            <p>Soon!</p>
            <p>There</p>
        </div>
        <div class="perspective-line">
            <p>There</p>
            <p>Will be</p>
        </div>
        <div class="perspective-line">
            <p>Will be</p>
            <p>Cats</p>
        </div>
        <div class="perspective-line">
            <p>Cats</p>
            <p></p>
        </div>
    </div>
</div>
